@import '_reset';
@import '_variable';

.wrap {
    width: 100%;
    height: 100%;
}

.content {
  width: 100%; 
  min-width: 1200px;
  max-width: 2600px;
  height: 100%;
  position: relative;
  &:nth-child(even){
    background-color: #f4f4f4;
  }
}

.first {
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .text-box {
            width: 536px;
            height: 438px;
            position: absolute;
            top: 50%;
            left: 9%;
            margin-top: -305px;
            color: #ffffff;
            .title {
                width: 474px;
                height: 186px;
                background: url('../assets/main-title.png') no-repeat;
            }
            .update {
                font-size: 22px;
                margin: 32px 0 0 33px;
                letter-spacing: .25em;
                font-weight: 500;
            }
            h2 {
                font-family: 'GongGothicMedium';
                font-size: 56px;
                margin: 16px 0 0 33px;
                font-weight: 400;
                letter-spacing: -3.5px;
                white-space: nowrap;
            }
            .download {
                font-size: 24px;
                margin: 46px 0 0 33px;
                line-height: 1.6;
                font-weight: 500;
                letter-spacing: -1.3px;
            }
        }
    }
    .gnb-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #161616;
        transition: .5s;
        z-index: 10;
        .gnb-logo {
            width: 146px;
            height: 40px;
            background: url('../assets/gnb_logo.png') no-repeat;
        }
        &.off {
            top: -40px;
        }
    }
    .header {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: 92px;
        transition: .8s;
        z-index: 10;
        &.black {
            .logo {
                opacity: 0;
                visibility: hidden;
            }
            .button-wrap {
                ul {
                    opacity: 0;
                    visibility: hidden;
                }
                .menu-bar {
                    background: url('../assets/menu-bar.png') no-repeat;
                    background-position: 50%;
                }
            }
        }
        .logo {
            position: absolute;
            top: 23px;
            left: 34px;
            width: 92px;
            height: 35px;
            opacity: 1;
            visibility: visible;
            transition: .4s;
            background: url('../assets/logo-black.png') no-repeat center / cover;
        }
        &.off {
            top: 0px;
        }
        .button-wrap {
            width: 643px;
            height: 53px;
            position: absolute;
            top: 16px;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                margin: 0 10px;
                opacity: 1;
                visibility: visible;
                transition: .4s;
                li {
                    @include download-btns;
                }
            }
            .menu-bar {
                display: inline-block;
                width: 36px;
                height: 37px;
                padding-top: 6px;
                background: url('../assets/menu-bar-black.png') no-repeat;
                background-position: 50%;
                margin: 0 40px 0 30px;
            }
        }
    }
    .bottom-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 145px;
        background-color: rgba(255,255,255,.1);
        backdrop-filter: blur(15px);
        z-index: 10;
        .button-wrap {
            position: fixed;
            bottom: 70px;
            left: 9%;
            ul {
                display: flex;
                li {
                    @include download-btns;
                    margin: 0 10px 0 0;
                    height: 56px;
                    &:first-child {
                        width: 210px;
                    }
                    &:nth-child(2) {
                        width: 184px;
                    }
                    &:last-child {
                        margin: 0;
                        width: 190px;
                    }
                }
            }
            .view-video {
                position: fixed;
                right: 40px;
                bottom: 70px;
                width: 363px;
                height: 147px;
                background: url('../assets/view-video.png') no-repeat;
            }
        }
    }
}

.third {
    .status-wrap {
        position: absolute;
        top: 50%;
        left: 40px;
        width: 17px;
        height: 272px;
        margin-top: -136px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        span {
            position: absolute;
            transform: rotate(-90deg);
            color: #373737;
            font-family: 'SEBANG_Gothic_Bold';
            font-weight: 700;
        }
        .text-top {
            top: 0;
        }
        .status-bar {
            top: 46px;
            left: 7px;
            width: 3px;
            height: 177px;
            transform: rotate(0deg);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #e2233a;
                transition: .5s;
            }
            em {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.1);
            }
        }
        .text-bottom {
            top: 249px;
        }
    }
    .main-scroll-wrapper {
        display: block;
        position: relative;
        z-index: 2;
        width:100%;
        height: 100vh;
        .main-scroll-content {
            display: block;
            min-height: 992px;
            background: url('../assets/media-bg.jpg') no-repeat top #fff;
            .inner {
                width: 100%;
                height: 1110px;
                position: relative;
                z-index: 2;
                .media-content-wrapper {
                    width: 1200px;
                    margin: 0 auto;
                    position: relative;
                    h3 {
                        width: 341px;
                        padding-top: 95px;
                        position: absolute;
                        top: 99px;
                        left: 98px;
                        background: url('../assets/media-logo-top.png') no-repeat center 0;
                        text-align: center;
                        font-family: 'GongGothicMedium';
                        font-size: 80px;
                        font-weight: 900;
                        color: #000000;
                        z-index: 1;
                    }
                    .gallery {
                        width: 630px;
                        height: 650px;
                        position: absolute;
                        top: 207px;
                        left: 0;
                        a {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            z-index: 5;
                            display: block;
                            padding: 427px 0 0 367px;
                            h4 {
                                font-family: 'GongGothicMedium';
                                font-size: 50px;
                                color: #4f4f4f;
                            }
                            p {
                                font-weight: 500;
                                letter-spacing: -1px;
                                color: rgba(0,0,0,0.7);
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer.content {
    width: 100%;
    height: 100px;
    background-color: #333;
}
