@import '_reset';
@import '_variable';

@keyframes jump {
    0%{
        transform: translateY(0) scaleY(0.95);
    }
    60%{
        transform: translateY(-20%) scaleY(1);
    }
    100%{
        transform: translateY(0) scaleY(0.95);
    }
    
}

@keyframes moveArrow {
    0%{
        transform: scaleX(1.5) translateX(-25%);
        opacity: 0;
        visibility: hidden;
    }
    50%{
        transform: scaleX(1) translateX(60%);
        opacity: 1;
        visibility: visible;
    }
    100%{
        transform: scaleX(1.5) translateX(95%);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes moveArrow2 {
    0%{
        transform: scaleX(1.3) translateX(-85%);
        opacity: 0;
        visibility: hidden;
    }
    50%{
        transform: scaleX(1) translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    100%{
        transform: scaleX(1.3) translateX(75%);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes rotateCd {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1turn);
    }
}

@keyframes hiddenElem {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes coverSlide {
    0%{
        clip: rect(0,0,19px,0);
    }
    100%{
        clip: rect(0,1620px,19px,0)
    }
}

.wrap {
    width: 100%;
    height: 100%;
}

.content {
  width: 100%; 
  min-width: 1200px;
  max-width: 2600px;
  height: 100%;
  position: relative;
  &:nth-child(even){
    background-color: #f4f4f4;
  }
}

.status-wrap {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 40px;
    width: 17px;
    height: 272px;
    margin-top: -136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    z-index: 9;
    &.on {
        opacity: 1; 
        visibility: visible;
    }
    span {
        position: absolute;
        transform: rotate(-90deg);
        color: #373737;
        font-family: 'SEBANG_Gothic_Bold';
        font-weight: 700;
    }
    .text-top {
        top: 0;
    }
    .status-bar {
        top: 46px;
        left: 7px;
        width: 3px;
        height: 177px;
        transform: rotate(0deg);
        &.on1{
            &::before {
                height: 50%;
            }
        }
        &.on2{
            &::before {
                height: 100%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #e2233a;
            transition: .5s;
        }
        em {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.1);
        }
    }
    .text-bottom {
        top: 249px;
    }
}

.first {
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .text-box {
            width: 536px;
            height: 438px;
            position: absolute;
            top: 50%;
            left: 9%;
            margin-top: -305px;
            color: #ffffff;
            .title {
                width: 474px;
                height: 186px;
                background: url('../assets/main-title.png') no-repeat;
            }
            .update {
                font-size: 22px;
                margin: 32px 0 0 33px;
                letter-spacing: .25em;
                font-weight: 500;
            }
            h2 {
                font-family: 'GongGothicMedium';
                font-size: 56px;
                margin: 16px 0 0 33px;
                font-weight: 400;
                letter-spacing: -3.5px;
                white-space: nowrap;
            }
            .download {
                font-size: 24px;
                margin: 46px 0 0 33px;
                line-height: 1.6;
                font-weight: 500;
                letter-spacing: -1.3px;
            }
        }
    }
    .gnb-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #161616;
        transition: .5s;
        z-index: 10;
        .gnb-logo {
            width: 146px;
            height: 40px;
            background: url('../assets/gnb_logo.png') no-repeat;
        }
        &.off {
            top: -40px;
        }
    }
    .header {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: 92px;
        transition: 0.4s;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        &.on {
            opacity: 0;
            visibility: hidden;
        }
        &.black {
            .logo {
                opacity: 0;
                visibility: hidden;
            }
            .button-wrap {
                ul {
                    opacity: 0;
                    visibility: hidden;
                }
                .menu-bar {
                    background: url('../assets/menu-bar.png') no-repeat;
                    background-position: 50%;
                }
            }
        }
        .logo {
            position: absolute;
            top: 23px;
            left: 34px;
            width: 92px;
            height: 35px;
            opacity: 1;
            visibility: visible;
            transition: .4s;
            background: url('../assets/logo-black.png') no-repeat center / cover;
        }
        &.off {
            top: 0px;
        }
        .button-wrap {
            width: 643px;
            height: 53px;
            position: absolute;
            top: 16px;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                margin: 0 10px;
                opacity: 1;
                visibility: visible;
                transition: .4s;
                li {
                    @include download-btns;
                }
            }
            .menu-bar {
                display: inline-block;
                width: 36px;
                height: 37px;
                padding-top: 6px;
                background: url('../assets/menu-bar-black.png') no-repeat;
                background-position: 50%;
                margin: 0 40px 0 30px;
            }
        }
    }
    .bottom-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 145px;
        background-color: rgba(255,255,255,.1);
        backdrop-filter: blur(15px);
        z-index: 10;
        .button-wrap {
            position: fixed;
            bottom: 70px;
            left: 9%;
            ul {
                display: flex;
                li {
                    @include download-btns;
                    margin: 0 10px 0 0;
                    height: 56px;
                    &:first-child {
                        width: 210px;
                    }
                    &:nth-child(2) {
                        width: 184px;
                    }
                    &:last-child {
                        margin: 0;
                        width: 190px;
                    }
                }
            }
            .view-video {
                position: fixed;
                right: 40px;
                bottom: 70px;
                width: 363px;
                height: 147px;
                background: url('../assets/view-video.png') no-repeat;
            }
        }
        .mousewheel-btn {
            position: absolute;
            bottom: 160px;
            left: 50%;
            width: 60px;
            height: 60px;
            animation-name: jump;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            img {
                width: 100%;
            }
        }
    }
}

.second {
    .inner {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background: url('../assets/info-cover-bg.png') no-repeat center / cover;
        z-index: 5;
        background-color: #ffffff;
        &.on {
            animation-name: hiddenElem;
            animation-delay: 1.5s;
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
        .inner-cont {
            position: relative;
            width: 100%;
            height: 280px;
            text-align: center;
            &.on {
                opacity: 0;
                visibility: 0;
            }
            .cover {
                position: absolute;
                left: 50%;
                &.cover-img {
                    top: -6px;
                    width: 157px;
                    height: 61px;
                    transform: translate3d(-50%, 20px, 0);
                    background: url('../assets/info-cover-top.png') no-repeat 0 0 / cover;
                    transition: all 1.75s ease-in-out;
                    &.on {
                        transform: translate3d(-50%, 0, 0);
                    }
                }
                &.bar {
                    top: 97px;
                    max-width: 1620px;
                    width: 100%;
                    height: 18px;
                    display: inline-block;
                    transform: translate3d(-50%, 0, 0);
                    background: url('../assets/info-cover-bar.png') no-repeat 0 0 / cover;
                    em {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url('../assets/info-cover-bar.png') no-repeat 0 100% / cover;
                        z-index: 5;
                        clip: rect(0,0,19px,0);
                        &.on {
                            animation-name : coverSlide;
                            animation-duration: 1.2s;
                            animation-fill-mode: forwards;
                            animation-timing-function: ease-in;
                        }
                    }
                }
                &.tit {
                    top: 145px;
                    transform: translate3d(-50%, -20px, 0);
                    transition: all 1.75s ease-in-out;
                    @include h3;
                    &.on {
                        transform: translate3d(-50%, 0, 0);
                    }
                }
            }
        }
    }
    .main-cont-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .main-cont-inner {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            ul {
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                li {
                    cursor: pointer;
                    position: relative;
                    width: 25%;
                    height: 100%;
                    overflow: hidden;
                    .bg {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        video {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    @for $i from 1 to 5{
                        &:nth-child(#{$i}){
                            .bg {
                                background: url('../assets/info-thumb-#{$i}.jpg') no-repeat 50% 50% / cover;
                            }
                        }
                    }
                    .filter {
                        width: 102%;
                        height: 100%;
                        background-color: rgba(255,255,255,.3);
                        backdrop-filter: blur(15px);
                        transition: all .4s ease-in-out;
                        opacity: 1;
                    }
                    &:hover {
                        > .filter {
                            opacity: 0;
                        }
                        > .content-wrap {
                            .section-tit  {
                                opacity: 0;
                            }
                            .intro-cont {
                                .title {
                                    .title-top {
                                        transform: translateY(60px);
                                        opacity: 0;
                                    }
                                    .title-bottom {
                                        transform: translateY(85px);
                                        padding-top: 0;
                                        background-image: none;
                                    }
                                }
                                .text {
                                    transform: translateY(10px);
                                    opacity: 0;
                                }
                                .btn-icon {
                                    background-color: #ffffff;
                                    bottom: 55px;
                                    span {
                                        color: #000000;
                                    }
                                }
                            }
                            .frame {
                                opacity: 1;
                            }
                        }
                     }
                    .content-wrap {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .section-tit {
                            position: absolute;
                            top: 33px;
                            left: 25px;
                            width: 23px;
                            height: 158px;
                            background: url('../assets/info-tit.png') no-repeat center / cover;
                            transition: .5s;
                        }
                        .intro-cont {
                            position: relative;
                            width: 320px;
                            height: 289px;
                            text-align: center;
                            .title {
                                width: 320px;
                                height: 122px;
                                white-space: nowrap;
                                .title-top {
                                    width: 320px;
                                    display: flex;
                                    flex-direction: column;
                                    transition: .6s;
                                    .txt {
                                        display: block;
                                        font-family: 'Rosarivo', serif;
                                        font-size: 18px;
                                        color: #fee4c2;
                                        text-indent: 7px;
                                        letter-spacing: 6px;
                                        line-height: 1;
                                    }
                                }
                                .title-bottom {
                                    position: relative;
                                    display: block;
                                    width: 320px;
                                    height: 102px;
                                    padding-top: 42px;
                                    background-image: url('../assets/info-title-line.png');
                                    background-repeat: no-repeat;
                                    background-position: center 100%;
                                    transition: .6s;
                                    text-align: center;
                                    h3 {
                                        @include h3;
                                        color: #ffffff;
                                        font-size: 65px;
                                        line-height: 1;
                                        letter-spacing: -1px;
                                        &.center {
                                            letter-spacing: -2px;
                                        }
                                    }
                                }
                            }
                            .text {
                                color: #ffffff;
                                margin-top: 46px;
                                line-height: 26px;
                                font-size: 15px;
                                letter-spacing: -.5px;
                                transition: .2s;
                            }
                            .btn-icon {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 123px;
                                height: 47px;
                                padding: 0 15px;
                                border: 1px solid #ffffff;
                                border-radius: 40px;
                                transition: .6s;
                                span {
                                    display: inline-block;
                                    font-size: 40px;
                                    color: #ffffff;
                                    transition: .2s;
                                    animation-name: moveArrow2;
                                    animation-duration: 1.5s;
                                    animation-timing-function: ease-in-out;
                                    animation-iteration-count: infinite;
                                    animation-fill-mode: backwards;
                                }
                            }
                        }
                        .frame-01 {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 40px 30px 30px;
                            .frame::after {
                                content: '';
                                position: absolute;
                                top: -12px;
                                left: 50%;
                                width: 24px;
                                height: 41px;
                                background: url('../assets/frame-deco.png') no-repeat;
                            }
                        }
                        .frame-02{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 54px 30px 43px;
                        }
                        .frame {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            border: 1px solid rgba(255,255,255,0.3);
                            border-radius: 12px;
                            padding: 13px 0;
                            transition: .6s;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

.third {
    .main-scroll-wrapper {
        display: block;
        position: relative;
        z-index: 2;
        width:100%;
        height: 100vh;
        .main-scroll-content {
            display: block;
            min-height: 992px;
            background: url('../assets/media-bg.jpg') no-repeat top #fff;
            .inner {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 2;
                .media-content-wrapper {
                    width: 1200px;
                    margin: 0 auto;
                    position: relative;
                    h3 {
                        width: 341px;
                        padding-top: 95px;
                        position: absolute;
                        top: 99px;
                        left: 98px;
                        background: url('../assets/media-logo-top.png') no-repeat center 0;
                        text-align: center;
                        @include h3;
                    }
                    .media-box {
                        a {
                            &:hover {
                                > .icon-arr {
                                    transition: .5s;
                                    background-color: #4f4f4f;
                                    border-color: #4f4f4f;
                                    span {
                                        color: #ffffff;
                                    }
                                }
                                ~ .cd {
                                    animation-play-state:running;
                                }
                            }
                        }
                        h4 {
                            font-family: 'GongGothicMedium';
                            font-size: 50px;
                            color: #4f4f4f;
                        }
                        p {
                            font-weight: 500;
                            letter-spacing: -1px;
                            color: rgba(0,0,0,0.9);
                            white-space: nowrap;
                        }
                        .icon-arr {
                            margin-top: 15px;
                            width: 57.5px;
                            height: 21.5px;
                            padding: 0 5px;
                            border: 1px solid #cccccc;
                            border-radius: 20px;
                            span {
                                display: inline-block;
                                transform: translateX(14px);
                                font-size: 20px;
                                color: #aaaaaa;
                                animation-name: moveArrow;
                                animation-duration: 1.5s;
                                animation-timing-function: ease-in-out;
                                animation-iteration-count: infinite;
                                animation-fill-mode: backwards;
                            }
                        }
                    }
                    .gallery {
                        width: 630px;
                        height: 650px;
                        position: absolute;
                        top: 207px;
                        left: 0;
                        &::after {
                            display: block;
                            content: '';
                            position: absolute;
                            top: 361px;
                            left: 200px;
                            width: 101px;
                            height: 41px;
                            background: url('../assets/media-gallery-front.png') no-repeat 0 0;
                            z-index: 20;
                        }
                        a {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            z-index: 5;
                            display: block;
                            padding: 427px 0 0 367px;
                            .swiper {
                                width: 244px;
                                padding: 9px;
                                position: absolute;
                                top: 225px;
                                left: 200px;
                                background-color: #e8edee;
                                border-radius: 17px;
                                .swiper-slide {
                                    width: 100%;
                                    height: 100%;
                                    padding: 9px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: .8s;
                                    &.on {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                    }
                    .ost {
                        position: absolute;
                        top: 60px;
                        left: 600px;
                        width: 600px;
                        height: 740px;
                        &::after {
                            display: block;
                            content: '';
                            position: absolute;
                            top: 321px;
                            left: 225px;
                            width: 101px;
                            height: 41px;
                            background: url('../assets/media-ost-front.png') no-repeat 0 0;
                            z-index: 3;
                        }
                        a {
                            width: 100%;
                            height: 100%;
                            padding: 288px 0 0 20px;
                            box-sizing: border-box;
                            position: relative;
                            z-index: 5;
                            display: block;
                        }
                        .cd {
                            position: absolute;
                            top: 154px;
                            left: 178px;
                            z-index: 2;
                            width: 194px;
                            height: 194px;
                            animation-name: rotateCd;
                            animation-duration: 15s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            animation-play-state: paused;
                            background: url('../assets/media-ost.png') no-repeat 0 0;
                        }
                    }
                }
            }
        }
    }
    .top {
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: 54px;
        height: 54px;
        background: url('../assets/top-btn.png') no-repeat center / cover;
        opacity: 0;
        transition: .5s;
        z-index: 15;
    }
}

.footer.content {
    width: 100%;
    height: auto;
    padding: 30px 40px;
    background-color: #161616;
    z-index: 10;
    color: rgba(255,255,255,.35);
    .footer-inner {
        .logo {
            margin: 5px 0 30px;
            width: 83px;
            height: 25px;
            background: url('../assets/footer-logo.png') no-repeat 0 0 / cover;
        }
        .info {
            font-size: 12px;
            p:nth-child(1){
                letter-spacing: -.5px;
            }
            p:nth-child(2){
                margin-top: 6px;
            }
        }
    }
}
